@model ShishyaERP.Models.Teachers

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bgroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.graduatedIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.graduatedIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teachCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teachCity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.teacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
